<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oounabaramusic.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".AllReplyActivity"
            android:label=""/>
        <activity
            android:name=".SingerActivity"
            android:label="" />
        <activity
            android:name=".PhotoLoginActivity"
            android:label="手机号登录"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PlayListTagActivity"
            android:label="歌单标签" />
        <activity
            android:name=".PlayListSquareActivity"
            android:label="歌单广场" />
        <activity
            android:name=".SingerClassificationActivity"
            android:label="歌手分类" />
        <activity
            android:name=".SearchActivity"
            android:label="" />
        <activity
            android:name=".MyCollectionActivity"
            android:label="我的收藏" />
        <activity
            android:name=".DownloadManagementActivity"
            android:label="下载管理" />
        <activity
            android:name=".RecentlyPlayedActivity"
            android:label="最近播放" />
        <activity
            android:name=".ResumePlayListActivity"
            android:label="恢复歌单" />
        <activity
            android:name=".PlayListManagementActivity"
            android:label="已选择0项" />
        <activity
            android:name=".MyMessageActivity"
            android:label="我的消息" />
        <activity
            android:name=".MusicPlayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ForwardActivity"
            android:label="转发"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PostActivity"
            android:label="动态" />
        <activity
            android:name=".MoreInfoActivity"
            android:label="基本信息" />
        <activity
            android:name=".UserCommentActivity"
            android:label="评论" />
        <activity
            android:name=".CommentActivity"
            android:label="评论" />
        <activity
            android:name=".MorePlayListActivity"
            android:label="歌单" />
        <activity
            android:name=".ListenRankActivity"
            android:label="听歌排行" />
        <activity
            android:name=".UserInfoEditActivity"
            android:label="我的资料"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MessageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyFriendActivity"
            android:label="我的好友" />
        <activity
            android:name=".UserInfoActivity"
            android:label="" />
        <activity
            android:name=".PlayListActivity"
            android:label="" />
        <activity
            android:name=".EditPlayListInfoActivity"
            android:label="编辑歌单信息"
            android:theme="@style/EditPlayListInfoActivityTheme" />
        <activity
            android:name=".LocalMusicActivity"
            android:label="本地音乐" />
        <activity android:name=".ChooseLoginActivity" />
        <activity android:name=".TitlePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="" />

        <service
            android:name=".service.MusicPlayService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>